.editor {
  width: calc(100% - 7rem);
}

.list {
  padding-left: 0;
  list-style: none;

  min-height: 5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.listItem {
  min-width: 32%;
  margin: 5px 0;
}
