.container {
  position: relative;
  width: 100%;
}

.container:hover {
  border-radius: var(--radius-1);
  background-color: var(--col-w-2);
  box-shadow: var(--shadow-2);
}

.container:hover .toolBar {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.toolBar {
  height: 100%;
  max-height: 1.5em;
  display: none;
  background-color: var(--col-w-1);
  border-radius: inherit;

  position: absolute;
  right: 0;
  top: 0;
}

@media print {
  .container:hover {
    background-color: unset;
    box-shadow: unset;
  }
  .container:hover .toolBar {
    display: none;
  }
}
